<hr>
    <div id="footer" class="container">
        <div class="row">
            <div class="col-12">
                Készítette: rekalaca
            </div>
        </div>
    </div>

</body>

</html>